.ssh/apadmi filter=git-crypt diff=git-crypt
.ssh/apadmi.pub filter=git-crypt diff=git-crypt
.ssh/bitbucket filter=git-crypt diff=git-crypt
.ssh/bitbucket.pub filter=git-crypt diff=git-crypt
.ssh/personal filter=git-crypt diff=git-crypt
.ssh/personal.pub filter=git-crypt diff=git-crypt
.ssh/known_hosts filter=git-crypt diff=git-crypt


